
!!! 5
html(lang='en')
  head
    title Phacebook
    script(src='jquery.js')
    script(src='phacebook-client.js')
js

  h1 Welcome to Phacebook, #{name}
  br
  form
    input(type="button", value="PUSH DAT BUTTON", onclick="postPush('#{access_token}')")
